<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogIn.Properties.Settings.masterConnectionString"
            connectionString="Data Source=KOTO;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LogIn.Properties.Settings.KConnectionString" connectionString="Data Source=KOTO;Initial Catalog=K;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>